body {
    font-family: Arial, sans-serif;
    text-align: left;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-top: 50px;
    display: inline-block;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 50px;
    display: inline-block;
}

.left {
    width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
}

